
<div class="container">
  <h2>Sets</h2>
  <ul id="sets">
    <li>
      <%= set1.name %>
    </li>
  </ul>
  <button class="btn btn-primary" id="createNewSetButton" onclick="createNewSet()">Create New Set</button>
</div>