<%- include('partials/header.ejs') -%>

  <div class="container">
    <button class="btn btn-primary" id="createNewSetButton" onclick="createNewSet()">Create New Set</button>
  </div>
  <%- include('partials/flashCardDisplay.ejs') -%>
    <%- include('partials/footer.ejs') -%>