<%- include('partials/header.ejs') -%>

  <!-- Main container -->
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Set Container -->
        <%- include('partials/setContainer.ejs') -%>
      </div>
      <div class="col text-center">
        <!-- FlashCardDisplay -->
        <%- include('partials/flashCardDisplay.ejs') -%>
      </div>
          <!-- Spacer for 3rd column... yeah its prob not best practice -->
    
    <div class="col"></div>  
  </div>

  <%- include('partials/footer.ejs') -%>