<%- include('partials/header.ejs') -%>

  <form action="/newSet" method="post">
    <input type="text" name="" id="">
  </form>

  <div class="container d-flex justify-content-center">
    <ul>
      <li>Flash Card</li>
      <li>Flash Card</li>
      <li>Flash Card</li>
      <li>Flash Card</li>
      <li>Flash Card</li>
      <li>Flash Card</li>
      <li>Flash Card</li>
      <li>Flash Card</li>
      <li>Flash Card</li>
      <li>Flash Card</li>
    </ul>
  </div>

  <%- include('partials/footer.ejs') -%>